
.section{
    display: flex;
    flex-wrap: wrap;
}
.container1{
    width: 600px;
    height: 500px;
    padding: 75px 90px;
    margin-left: 120px;
}
.heading1{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar{
    font-size: 23px;
}
.Technical-bars .bar {
    margin-top: 40px 0;
}
.Technical-bars .bar:first-child {
    margin-top: 0;
}
.Technical-bars .bar:last-child {
    margin-bottom: 0;
}
.Technical-bars .bar .info {
    margin-bottom: 5px;
}
.Technical-bars .bar .info span {
font-size: 17px;
font-weight: 500;
animation: showText 0.5s 1s linear forwards;
opacity: 0;
}
.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}
.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0,5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span {
    width:70% ;
}
.progress-line.css span {
    width:60% ;
}
.progress-line.JavaScript span {
    width:40% ;
}
.progress-line.java span {
    width:40% ;
}
.progress-line.Python span {
    width:45% ;
}
.progress-line span:after {
position: absolute;
padding: 1px 8px;
background-color: #000;
color: #fff;
font-size: 12px;
border-radius: 3px;
top: -28px;
right: -20px;
animation: showText 0.5s 1.5s linear forwards;
opacity: 0;
}







 /* /* font-size: 2rem; */
    text-align: center;

}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}
.navbar a {
font-size: 1.5rem;
color: var(--text-color);
margin-left: 4rem;
font-weight: 700;
}
.navbar a:hover,
.navbar a:active {
    color: var(--text-color);
}
#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h3 {
font-size: 3.2rem;
font-weight: 700;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}
span{
    color: var(--main-color);
}
.home-content h1 {
font-size: 5.6rem;
font-weight: 700;
line-height: 1.3;
}
.home-img img {
    width: 25vw;
    animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
.home-content p{
font-size: 1.6rem;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center ;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover{
    background: var(--main-color);
    color: var(--snd-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover {
box-shadow: none;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}
.about-img img {
width: 35vw;
}
.heading {
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2 {
text-align: left;
line-height: 1.2;
}
.about-content h3 {
    font-size: 2.6rem;
}
.about-content p {
font-size: 1.6rem;
margin: 2rem 0 3rem;
}

.skills{
background: var(--secon-bg-color);
}
.skill-main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap:30px;
    grid-column-gap:50px;
}
.skill-bar{
    margin-bottom: 2.3rem;
}
.skill-main h3{
    margin-bottom: 2rem;
    font-size: var(--normal-font);
    text-align: center;
    font-size: 3rem;
}
.skill-left .skill-bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.skill-left .skill-bar .bar{
    width: 100%;
    height: 10px;
    background-color: var(--snd-bg-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}
.skill-bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--main-color);
    border-radius: 25px;
    box-shadow: var(--main-color);
}
.skill-bar .bar .html{
    width:72% ;
    animation: html 2s;
}
.skill-bar .bar .css{
width:50%;
animation: css 3s;
}
.skill-bar .bar .javascript{
    width:40%;
    animation: javascript 4s;
}
.skill-bar .bar .java{
    width:50 ;
    animation: java 5s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 72%;
    }
}

@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

@keyframes javascript{
    0%{
        width: 0%; */
    }
    100%{
        width: 40%;
    }
}

@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}

<div class="skill-right ">
                <h3>Professional Skills</h3>
                <div class="professional">
                    <div class="box">
                        <div class="circle"  data-dots="80" data-percent="90"></div>
                        <div class="text">
                            <big>90%</big>
                            <small>Team Work</small>
                        </div>
                    </div>

                    <div class="box">
                        <div class="circle"  data-dots="80" data-percent="90"></div>
                        <div class="text">
                            <big>90%</big>
                            <small>Team Work</small>
                        </div>
                    </div>
                    <div class="box">
                        <div class="circle"  data-dots="80" data-percent="90"></div>
                        <div class="text">
                            <big>90%</big>
                            <small>Team Work</small>
                        </div>
                    </div>
                    <div class="box">
                        <div class="circle"  data-dots="80" data-percent="90"></div>
                        <div class="text">
                            <big>90%</big>
                            <small>Team Work</small>
                        </div>
                    </div>